{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    关于自己 | ZTSong
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'pygments-css/default.css' %}">
{% endblock %}
{% block left_content %}
    <div class="col-md-12">
        <article class="blog-post">
            <div class="blog-post-body">
                <h2><a href="post.html">About Author</a></h2>
                <div class="blog-post-text">
                    <p>{{ about.desc|safe }}</p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
{% block right_content %}
{% endblock %}
