<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
{#    <title>{% block title %}ZTSong小站{% endblock %}</title>#}
    <title>{% block title %}{{ post.title }}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                <li><a href="#about">分类</a></li>
                <li><a href="#contact">杂谈</a></li>
                <li><a href="#contact">归档</a></li>
                <li><a href="#contact">留言</a></li>
                <li><a href="{% url 'about' %}">关于</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {#						<li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                <li><a href="#">注册</a></li>
                <li><a href="#">登陆</a></li>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                {#						<li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                {#						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
                {#						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
                {#						<li><a href="#"><i class="fa fa-reddit"></i></a></li>#}
                <li>
                    <input type="text" class="form-control" placeholder="Search for..." style="margin-top: 8px;">
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
    </header>
    {% block slider %}
    <!-- <section class="main-slider">
        <ul class="bxslider">
            <li><div class="slider-item"><img src="images/1140x500-2.jpg" title="Funky roots" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
            <li><div class="slider-item"><img src="images/1140x500-1.jpg" title="Funky roots" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
            <li><div class="slider-item"><img src="images/1140x500-3.jpg" title="Funky roots" /><h2><a href="post.html" title="Vintage-Inspired Finds for Your Home">Vintage-Inspired Finds for Your Home</a></h2></div></li>
        </ul>
    </section> -->
    {% endblock %}
    <section>
        <div class="row">
            {% block left_content %}
                <div class="col-md-8">
                    <article class="blog-post">
                        {#						<div class="blog-post-image">#}
                        {#							<a href="post.html"><img src="{% static 'images/author.jpg' %}" alt="" style="width: 250px;height: 150px;"></a>#}
                        {#						</div>#}
                        <div class="blog-post-body" style="margin-top: -35px;">
                            <h2><a href="post.html">实用的网站及工具大集合</a></h2>
                            <div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i
                                    class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i
                                    class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
                            <a href="post.html"><img src="{% static 'images/author.jpg' %}" alt=""
                                                     style="width: 350px;height: 250px;"></a>
                            <p style="font-size: 18px;margin-top: 10px;">
                                还在担心自己辛辛苦苦写的代码被误删了吗？还在担心自己改错了代码不能挽回吗？还在苦恼于多人开发合作找不到一个好的工具吗？那么用Git就对了，Git是一个开源的分布式版本控制系统，用以有效、高速的处理从很小到非常大的项目版本管理。有了它，代码托管不是问题，版本控制不再苦恼，多人开发变得简单易行</p>
                            <div class="read-more"><a href="#">Continue Reading</a></div>
                        </div>
                    </article>
                    <!-- article -->
                    <article class="blog-post">
                        <div class="blog-post-image">
                            <a href="post.html"><img src="{% static 'images/750x500-2.jpg' %}" alt=""></a>
                        </div>
                        <div class="blog-post-body">
                            <h2><a href="post.html">The Best Street Style Looks of London Fashion Week</a></h2>
                            <div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i
                                    class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i
                                    class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
                            <p>Few months ago, we found ridiculously cheap plane tickets for Boston and off we went. It
                                was our first visit to the city and, believe it or not, Stockholm in February was more
                                pleasant than Boston in March. It probably has a lot to do with the fact that we arrived
                                completely unprepared.</p>
                            <div class="read-more"><a href="#">Continue Reading</a></div>
                        </div>
                    </article>
                    <!-- article -->
                    <article class="blog-post">
                        <div class="blog-post-image">
                            <a href="post.html"><img src="{% static 'images/750x500-3.jpg' %}" alt=""></a>
                        </div>
                        <div class="blog-post-body">
                            <h2><a href="post.html">Front Row Style: Our Favorite A-List Moments of Fashion Week</a>
                            </h2>
                            <div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i
                                    class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i
                                    class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
                            <p>It was our first visit to the city and, believe it or not, Stockholm in February was more
                                pleasant than Boston in March. It probably has a lot to do with the fact that we arrived
                                completely unprepared. Few months ago, we found ridiculously cheap plane tickets for
                                Boston and off we went.</p>
                            <div class="read-more"><a href="#">Continue Reading</a></div>
                        </div>
                    </article>
                </div>

            {% endblock %}
            <div class="copyrights">from <a href="http://www.zhutaosong.top/">ZTSong小站</a></div>
            {% block right_content %}
                <div class="col-md-4 sidebar-gutter">
                    <aside>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">About Me</h3>
                            <div class="widget-container widget-about">
                                <a href="post.html"><img src="{% static 'images/author.jpg' %}" alt=""></a>
                                <h4>Jamie Mooz</h4>
                                <div class="author-title">Designer</div>
                                <p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are
                                    major fashion moments on the front row too.</p>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            {#						<h3 class="sidebar-title">Featured Posts</h3>#}
                            <h3 class="sidebar-title">热 门 文 章</h3>
                            <div class="widget-container">
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a
                                                href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">Why The Muppets Needs to Channel 30 Rock</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a
                                                href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a
                                                href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-4.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a
                                                href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-5.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a
                                                href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Socials</h3>
                            <div class="widget-container">
                                <div class="widget-socials">
                                    <a href="#"><i class="fa fa-qq"></i></a>
                                    <a href="#"><i class="fa fa-weixin"></i></a>
                                    <a href="#"><i class="fa fa-weibo"></i></a>
                                    <a href="https://github.com/MarkZTS"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">分 类</h3>
                            <div class="widget-container">
                                <ul>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Featured</a></li>
                                    <li><a href="#">Graphics</a></li>
                                    <li><a href="#">Peoples</a></li>
                                    <li><a href="#">Uncategorized</a></li>
                                </ul>
                            </div>
                        </div>
                        {#					</div>#}
                    </aside>
                </div>
            {% endblock %}

        </div>

    </section>
</div><!-- /.container -->

<footer class="footer">

    <div class="footer-socials">
        <a href="#"><i class="fa fa-qq"></i></a>
        <a href="#"><i class="fa fa-weixin"></i></a>
        <a href="#"><i class="fa fa-weibo"></i></a>
        <a href="https://github.com/MarkZTS"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2018. <i class="fa fa-user"></i> ZTSong
        <br>
        My Themes - <a href="http://www.cssmoban.com/cssthemes/6751.shtml" target="_blank" title="主题">模板之家</a>
    </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.js' %}"></script>
<script src="{% static 'js/mooz.scripts.min.js' %}"></script>
{% block custom_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.goup.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.goup({
                trigger: 100,
                bottomOffset: 50,
                locationOffset: 50,
                title: 'Top',
                titleAsText: true
            });

        });
    </script>
{% endblock %}
</body>
</html>