{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ post.title }} | ZTSong
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'pygments-css/default.css' %}">
{% endblock %}
{% block left_content %}
    <div class="col-md-8">
        <article class="blog-post">
            {#            <div class="blog-post-image">#}
            {#                <a href="{% url 'post' post.id %}"><img src="{% static 'images/750x500-1.jpg' %}" alt=""></a>#}
            {#            </div>#}
            <div class="blog-post-body">
                <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                <div class="post-meta">
                    <span>by <a href="#">{{ post.user.username }}</a></span>/
                    {#                    <span><i class="fa fa-tag"></i> <a href="#">web</a></span>/#}
                    <span><i class="fa fa-clock-o"></i>{{ post.date_publish.date }}</span>/
                    <span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>
                </div>
                <div class="blog-post-text">
                    <p>{{ post.content|safe }}</p>
                </div>
            </div>
            <h4 style="font-size: 17px;text-align: center;">小额赞助，您的支持将鼓励我继续创作！</h4>
            <button type="button" class="btn btn-danger zz-btn" style="display: table; width: auto;margin-left: auto;
margin-right: auto;outline: none;">赞助
            </button>
            <div class="row hide h" style="margin-top: 20px;">
                <div class="col-md-3 col-md-offset-3">
                    <img src="{% static 'images/alipay.jpg' %}" alt="..." class="img-thumbnail"
                         style="height: 150px;width: 150px;cursor: pointer;" data-toggle="modal"
                         data-target="#myModal1">
                    <span style="margin-left: 50px;">支 付 宝</span>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{% static 'images/alipay.jpg' %}" alt="..." class="img-thumbnail"
                                         style="width: 612px;height: 612px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 10px;">
                    <img src="{% static 'images/wechatpay.jpg' %}" alt="..." class="img-thumbnail"
                         style="height: 150px;width: 150px;cursor: pointer;" data-toggle="modal"
                         data-target="#myModal2">
                    <span style="margin-left: 60px;">微 信</span>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{% static 'images/wechatpay.jpg' %}" alt="..." class="img-thumbnail"
                                         style="width: 612px;height: 612px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--PC版-->
            <div id="SOHUCS" sid="{{ post.id }}"></div>


        </article>
    </div>
{% endblock %}
{% block right_content %}
    <div class="col-md-4 sidebar-gutter">
        <aside>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">关 于 自 己</h3>
                <div class="widget-container widget-about">
                    <a href="post.html"><img src="{% static 'images/750x500-1.jpg' %}" alt=""></a>
                    <h4>Mark</h4>
                    <div class="author-title">Author</div>
                    <p>爱生活，爱技术</p>
                    <p>用技术实现梦想，用技术改变未来</p>
                </div>
            </div>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                {#						<h3 class="sidebar-title">Featured Posts</h3>#}
                <h3 class="sidebar-title">热 门 文 章</h3>
                <div class="widget-container">
                    {% for hot_post in hot_posts %}
                        <article class="widget-post">
                            <div class="post-image">
                                {#                                <a href="post.html"><img src="{% static 'images/90x60-1.jpg' %}" alt=""></a>#}
                                <a href="post.html"><img src="{{ MEDIA_URL }}{{ hot_post.image }}" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">{{ hot_post.title }}</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> {{ hot_post.date_publish.date }}</span> <span><a
                                        href="post.html"><i
                                        class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Socials</h3>
                <div class="widget-container">
                    <div class="widget-socials">
                        <a href="#"><i class="fa fa-qq"></i></a>
                        <a href="#"><i class="fa fa-weixin"></i></a>
                        <a href="#"><i class="fa fa-weibo"></i></a>
                        <a href="https://github.com/MarkZTS"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">分 类</h3>
                <div class="widget-container">
                    <ul>
                        {% for category in categorys %}
                            <li><a href="#">{{ category.name }} ({{ category.get_post_nums }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}

{% block custom_js %}

    <script>
        $(".zz-btn").click(function () {
            $(".h").toggleClass("hide");
        })
    </script>

    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cytsueQ3k',
            conf: 'prod_1675a7369723f291006a441ab75cb858'
        });
    </script>


{% endblock %}
